%div
  %h1= @title
  %p
    TV remote controller
  %p
    %a{:href => "#{app_root}/tv"} TV
  %p
    %a{:href => "#{app_root}/con"} コントローラ
  %p
    %a{:href => "#{app_root}/con/増井"} 本棚.org用コントローラ
  %p
    %a{:href => "#{app_root}/con/contents_navi/1000"} contents navi用コントローラ
